

/* 
============================================
MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS
============================================
*/


@media screen and (max-width:1200px){
    .container{
        width: 96%;
    }
    main .container{
        grid-template-columns: 5rem auto 27vw;
        gap: 1rem;
    }
    .left{
        width: 5rem;
        z-index: 5;
    }

    main .container .left .profile,
    .sidebar h3,
    .left .btn
    {
        display: none;
    }

    .customize-theme .card{
        width: 80%;
        background: #e6e6e6;
    }

}



/* 
============================================
MEDIA QUERIES FOR SMALL TABLETS AND BIG PHONES
============================================
*/


@media screen and (max-width:992px){
    nav .search-box{
        display: none;
    }

    main .container{
        grid-template-columns: 0 auto 5rem;
        gap: 0;
    }

    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }


    /* -------notification popup------------- */

    .left .notification-pop{
        position: absolute;
        left: -20rem;
        width: 20rem;
    }

    .left .notification-pop::before{
        position: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }

     .middle{
        grid-column: 1/3;
    }
    main .container .right .friend-requests{
        display: none;
    }


    main .container .right .messages{
        z-index: 9999;
        position: fixed;
        right: 6rem;
        top: 13rem;
        display: none;
    }

    main .container .right .messages::after{
        width: 20px ;
        height: 20px;
        transform: rotate(45deg);
        background: white;
        transform: rotate(45deg);
        position: absolute;
        content: '';
        top: 7rem;
        left: 16.7rem;
    }

    .customize-theme .card{
        width: 92%;
        padding: 0;
    }
    .customize-theme .choose-bg {
        justify-content: center;
        gap:0 ;
    }
    .customize-theme .choose-bg > div {
        width: 34%;
    }
    
}


@media screen and (max-width:340px){
    .customize-theme .choose-bg > div span{
        display: none;
    }
}
